<form
  *ngIf="vetForm"
  [formGroup]="vetForm"
  (ngSubmit)="onSubmit()"
  #ngForm="ngForm"
>
  <label for="lastName">Nom</label>
  <input id="lastName" formControlName="lastName" /><br />
  <p *ngIf="ngForm.submitted && vetForm.hasError('required', 'lastName')">
    Champ obligatoire
  </p>
  <p *ngIf="ngForm.submitted && vetForm.hasError('minlength', 'lastName')">
    Taille minimale requise
    {{ vetForm.get("lastName").errors["minlength"].requiredLength }}
  </p>

  <label for="firstName">Prénom</label>
  <input id="firstName" formControlName="firstName" /><br />
  <p *ngIf="ngForm.submitted && vetForm.hasError('required', 'firstName')">
    Champ obligatoire
  </p>

  <button type="submit">Envoyer</button>
</form>
