<form
  *ngIf="vetForm"
  [formGroup]="vetForm"
  (ngSubmit)="onSubmit()"
  #ngForm="ngForm"
>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="lastName" /><br />
    <mat-error
      *ngIf="ngForm.submitted && vetForm.hasError('required', 'lastName')"
    >
      Champ obligatoire
    </mat-error>
    <mat-error
      *ngIf="ngForm.submitted && vetForm.hasError('minlength', 'lastName')"
    >
      Taille minimale requise
      {{ vetForm.get("lastName").errors["minlength"].requiredLength }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput id="firstName" formControlName="firstName" /><br />
    <mat-error
      *ngIf="ngForm.submitted && vetForm.hasError('required', 'firstName')"
    >
      Champ obligatoire
    </mat-error>
  </mat-form-field>

  <ng-container
    formArrayName="phoneNumbers"
    *ngFor="let control of phoneNumbers.controls; let index = index"
  >
    <mat-form-field>
      <input matInput [formControlName]="index" />
      <button
        matSuffix
        mat-icon-button
        color="warn"
        type="button"
        (click)="removePhone(index)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>
  <button mat-button color="accent" type="button" (click)="addPhone()">
    Nouveau téléphone
  </button>
  <br />

  <button mat-button color="primary" type="submit">Envoyer</button>
</form>
